h1 {
    font-size: 50px;
    text-align: left;
    font-family: cursive;
}

body {
    background-color: #FFFFFF;
}

.stickyContainer {
    display: inline-block;
}

table{
    width:80%
}

#deleteButton {
    width: 15%;
}

.sticky {
    margin: 20px;
    font-size: x-large;
    font-family: serif;
    resize: none;
    border: groove;
    background-color: lightgrey;
}

#add:before {
    content: '+';
}

#add, #save {
    border-radius: 10px;
    background-color: limegreen;
    border: 1px solid darkgreen;
    cursor: pointer;
    font-size: 50px;
    padding: 0 20px 5px 20px;
    outline: none;
    float: right;
    margin: -100px 30px 0 0;
}

#add:hover {
    background-color: #5cbf2a;
}

#add:active {
    position: relative;
    top: 1px;
}

.delete{
    border-radius: 10px;
        background-color: limegreen;
        border: 1px solid darkgreen;
        font-size: 20px;
        outline: none;
        float: right;
}